/node_modules 
/resources/lang/bn.json
/resources/lang/en.json
/resources/lang/permission.json
/storage/*.key
/vendor 
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
vendor/composer/ 
package-lock.json 
node_modules
node_modules/*
storage
storage/*
/bootstrap  
/nbproject/private/
